body * {
  color: white;
}

.site {
  background: black;
}

@media screen and (min-width: 860px) {
  .navbar {
    padding: 2vw;
  }
  .logo {
    margin: auto;
  }
}

.navbar {
    position: absolute;
}

.navbar .navbar-nav .nav-link {
  color: white;
}

.cimg {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.title {
  text-align: center;
  font-size: 140%;
}

.bar {
  text-align: center;
  background: #0dcaf0;
}

.card {
  background-color: #0dcaf0 !important;
  margin: auto;
}

.img {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.ct {
  margin: 0.5vw;
}

.foot {
  background: #0dcaf0;
}


.bt {
  text-align: center;
  font-size: 140%;
  vertical-align: middle;
}
