body * {
  text-align: center;
  color: white;
}

.site {
  background: black;
}

@media screen and (min-width: 860px) {
  .navbar {
    padding: 5vw;
  }
  .logo {
    margin: auto;
  }
}

.navbar .navbar-nav .nav-link {
  color: white;
}

.bar {
  background: #0dcaf0;
}
